$image-path: 'assets/images/';
$image-hud: $image-path + 'hud.png';
$image-menu: $image-path + 'Supaplex_Main2.png';

@font-face {
    font-family: 'supaplex';
    src: url('assets/fonts/thin_pixel-7.ttf')
}

.sp-hud {
    position:absolute;
    border-top: 1px black solid;
    bottom:0px;
    background-image: url($image-hud);
}

.sp-menu {
    background-image: url($image-menu);
}

.sp-green {
    color: #00b261;
}

.sp-red {
    color: #e31010;
}

.sp-blue {
    color: #7192e3;
}

.sp-yellow {
    color: #e3e300;
}

.sp-text-menu {
    font-family: supaplex;
    font-size: 40px;
}

.sp-text {
    font-family: supaplex;
    font-size: 40px;
    letter-spacing: 4px;
}

.sp-level-button {
    height: 20px;
    width: 325px;
}

.sp-button {
    border-top: 2px solid #929292;
    border-left: 2px solid #929292;
    border-bottom: 2px solid #616161;
    border-right: 2px solid #616161;
}
.sp-button:active {
    border-bottom: 2px solid #929292;
    border-right: 3px solid #929292;
    border-top: 2px solid #616161;
    border-left: 2px solid #616161;
}
