.sp-wrap {
    border: gray solid;
}

.sp-viewport {
    background-size: cover;
    position: relative;
    background: black;
    border: 16px solid;
    border-image: url('images/SupaplexBorder.png') 16;
}

.tile {
    background-image: url('images/Supaplex32.png');
    position: absolute;
    width: 32;
    height: 32;
}

.empty {
    background-position: -96px -608px;
}

.port {
}

.port.port-all {
    background-position: -96px -544px;
}

.zonks {
    background-position: 0px -160px;
}

.zonks-roll-left {
    animation: zonks-roll 0.12s steps(5) reverse infinite;
}

.zonks-roll-right {
    animation: zonks-roll 0.12s steps(5) infinite;
}

.zonks-roll-left.hanged, .zonks-roll-right.hanged {
    animation-play-state: paused;
}

@keyframes zonks-roll {
    from { background-position: 0px -160px; }
    to { background-position: -160px -160px; }
}

.infotron {
    background-position: 0px -192px;   
}

.infotron-roll-left {
    animation: infotron-roll 0.24s steps(8) reverse infinite;
}

.infotron-roll-right {
    animation: infotron-roll 0.24s steps(8) infinite;
}

.infotron-roll-left.hanged, .infotron-roll-right.hanged {
    animation-play-state: paused;
}

.infotron.vanish {
    animation: infotron-vanish .24s steps(8);
}

.infotron-explode {
    animation: infotron-explode 1s steps(8) infinite;
}

@keyframes infotron-roll {
    from { background-position: 0px -192px; }
    to { background-position: -256px -192px; }
}

@keyframes infotron-vanish {
    from { background-position: 0px -224px; }
    to { background-position: -256px -224px; }
}

@keyframes infotron-explode {
    from { background-position: 0px -256px; }
    to { background-position: -256px -256px; }
}

.explosion {
    animation: explosion 1s steps(8) infinite;
}

@keyframes explosion {
    from { background-position: 0px -288px; }
    to { background-position: -256px -288px; }
}

.reddisk {
    animation: reddisk-vanish 1s steps(8) infinite;
}

@keyframes reddisk-vanish {
    from { background-position: 0px -320px; }
    to { background-position: -256px -320px; }
}

.redterminal {
    animation: redterminal-activate 1s steps(8) infinite;
}

@keyframes redterminal-activate {
    from { background-position: 0px -352px; }
    to { background-position: -256px -352px; }
}

.greenterminal {
    animation: greenterminal-activate 1s steps(8) infinite;
}

@keyframes greenterminal-activate {
    from { background-position: 0px -384px; }
    to { background-position: -256px -384px; }
}

.base {
    background-position: 0px -448px;
}

.base.active {
    animation: base-bug 1s steps(1) infinite;
}

.base.vanish {
    animation: base-vanish .24s steps(8) infinite;
}

@keyframes base-vanish {
    from { background-position: 0px -416px; }
    to { background-position: -256px -416px; }
}

@keyframes base-bug {
    0% {
        background-position: -64px -448px;
    }
    7.6% {
        background-position: -32px -448px;
    }
    15.2% {
        background-position: -96px -448px;
    }
    22.7% {
        background-position: -128px -448px;
    }
    30.4% {
        background-position: -160px -448px;
    }
    38% {
        background-position: -128px -448px;
    }
    45% {
        background-position: -96px -448px;
    }
    53% {
        background-position: -128px -448px;
    }
    60.8% {
        background-position: -160px -448px;
    }
    68.3% {
        background-position: -128px -448px;
    }
    76% {
        background-position: -96px -448px;
    }
    83.6% {
        background-position: -32px -448px;
    }
    91% {
        background-position: -64px -448px;
    }
    100% {
        background-position: -0px -448px;
    }
}

.electron {
    animation: electron .24s steps(8) infinite;
}

@keyframes electron {
    from { background-position: 0px -576px; }
    to { background-position: -256px -576px; }
}

.scissors {
}

.scissors-go-up {
    animation: scissors-up .12s steps(8) infinite;
}

.scissors-go-down {
    animation: scissors-down .12s steps(8) infinite;
}

.scissors-go-left {
    animation: scissors-left .12s steps(8) infinite;
}

.scissors-go-right {
    animation: scissors-right .12s steps(8) infinite;
}

.scissors-up-up {
    background-position: -32px 0px;
}

.scissors-left-left {
    background-position: -96px 0px;
}

.scissors-down-down {
    background-position: -160px 0px;
}

.scissors-right-right {
    background-position: -224px 0px;
}

.scissors-right-up, .scissors-up-right {
    background-position: 0px 0px;
}

.scissors-down-right, .scissors-right-down {
    background-position: -192px 0px;
}

.scissors-left-down, .scissors-down-left {
    background-position: -128px 0px;
}

.scissors-up-left, .scissors-left-up {
    background-position: -64px 0px;
}

@keyframes scissors-up {
    from { background-position: 0px -32px }
    to { background-position: -256px -32px }
}

@keyframes scissors-down {
    from { background-position: 0px -64px }
    to { background-position: -256px -64px }
}

@keyframes scissors-left {
    from { background-position: 0px -96px }
    to { background-position: -256px -96px }
}

@keyframes scissors-right {
    from { background-position: 0px -128px }
    to { background-position: -256px -128px }
}

.morphy {
    background-position: 0px -608px;
}

.morphy-snap-right {
    background-position: 0px -672px;
}

.morphy-snap-left {
    background-position: -32px -672px;
}

.morphy-snap-up {
    background-position: -64px -672px;
}

.morphy-snap-down {
    background-position: -96px -672px;
}

.morphy-push-right {
    background-position: -0px -704px;
}

.morphy-push-left {
    background-position: -32px -704px;
}

.morphy-sick {
    background-position: -64px -704px;
}

.morphy-go-right {
    animation: morphy-go-right .24s steps(7) infinite;
}

.morphy-go-left, .morphy-go-up, .morphy-go-down {
    animation: morphy-go-left .24s steps(7) infinite;
}

.morphy-exit {
    animation: morphy-exit .5s steps(7);
}


.morphy-yawn {
    animation: morphy-yawn-1 2s steps(6),
    morphy-yawn-2 2s 2s steps(4) forwards;
}

.morphy-sleep-right {
    animation: morphy-yawn-1 1s steps(6),
    morphy-yawn-2 1s 1s steps(4),
    morphy-sleep-right 2s 2s steps(2) forwards;
}

.morphy-sleep-left {
    animation: morphy-yawn-1 1s steps(6),
    morphy-yawn-2 1s 1s steps(4),
    morphy-sleep-left 2s 2s steps(2) forwards;
}

@keyframes morphy-go-right {
    from { background-position: -0px -736px; }
    to { background-position: -224px -736px; }    
}

@keyframes morphy-go-left {
    from { background-position: -0px -768px; }
    to { background-position: -224px -768px; }    
}

@keyframes morphy-exit {
    from { background-position: -0px -800px; }
    to { background-position: -224px -800px; }
}

@keyframes morphy-yawn-1 {
    from { background-position: -32px -608px; }
    to { background-position: -224px -608px; }
}

@keyframes morphy-yawn-2 {
    from { background-position: 0px -640px; }
    to { background-position: -128px -640px; }
}

@keyframes morphy-sleep-right {
    from { background-position: -160px -640px; }
    to { background-position: -224px -640px; }
}

@keyframes morphy-sleep-left {
    from { background-position: -160px -672px; }
    to { background-position: -224px -672px; }
}
